// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//Primary color project
$reed-main: #FC5130;
$green-main: #CAFFD0;
$black-main: #303036;
$black-second: #050401;
$gray-main: #EFEFEF;
$gray-second: #494949;
$blue-main: #30BCED;
$white-second: #FFFFFF;
$white-main: #FFFAFF;

//Primary breakpoint
$breakpoints-lg: 992px;
